@import "home.css";
@import "about.css";
@import "contact.css";

/* RESET */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* COLORS */
:root {
    --main-color: #fff;
    --secondary-color: #000;
    
    --link-active: #50C878;
}

/* PAGE TRANSITION */
.fade {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
} 

.fade.show {
    opacity: 1;
}

a {
    /* text-decoration: none; */
    color: var(--secondary-color);
    transition: 0.5s;
}

a:hover {
    color: var(--link-active);
    transform: scale(1.02);
}


/* TITLES */
h5, h3, h2, a {
    text-transform: uppercase;
}

/* NAVBAR ACTIVE */
.active {
    color: var(--link-active) !important;
}

.logo {
    filter: invert(1);
    width: 120px;
}

/* SOCIAL LINKS */
.social {
    margin-left: 70px;
}

.custom-social-link {
    margin-right: 90px;
    transform: scale(0.5);
    transition: 0.5s;
}

.custom-social-link:hover {
    transform: scale(0.5) translateY(-15px);
}

.social_icon {
    width: 100px;
    height: 100px;
}


@media screen and (max-width: 821px){
    .social {
        margin-left: 40px;
    }
    .custom-social-link {
        margin-right: 50px;
    }
    .social_icon {
        width: 60px;
        height: 60px;
    }
}